.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    width: 200px;
    height: 330px;
    margin: 15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  img {
    border-radius: 10px 10px 0 0;
    height: 65%;
    width: 100%;
  }

  .btnContainer{
      text-align: center;
      background-color: aqua
  }

  button{
      height: 40px;
      width: 100px;
      margin: 10px;
      border-radius: 5px;
  }

  .active{
      background-color: rgb(136, 77, 179);
  }