<div class="expressionContainer">
    <h1>This is the property binding Component</h1>
    <h2>here the value <span>{{someValue}}</span> is being interpolated</h2>
    <h2 >this input tag has a property called  <strong>disabled</strong> which has property binding to set to false, so you can interact with it </h2>
    <input type="text" placeholder="First Name" [disabled] = "disabled1">
    <h2 >this input tag has a property called  <strong>disabled</strong> which has property binding to set to false, so you cant interact with it </h2>
    <input type="text" placeholder="Last Name" [disabled] = "disabled2">
</div>
