.expressionContainer{
    background-color: aliceblue;
    height: 350px;
    text-align: center;
}

span{
    color: green;
}

input{
    height: 40px;
    width: 100px;
}

.success{
    color: green;
}

.danger{
    color: red;
}

.warning{
    color: rgb(134, 134, 38);
}

.recomend{
    color:purple;
}

.special{
    font-style:italic
}