<div>
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</div>

<h1>Upcoming Movies</h1>

<section>
  <article>
    <h2><i>February</i></h2>
    <div>
      <p><img src="https://resizing.flixster.com/hmuV3hJIv19p9GdEBWkhFfQ_DA4=/180x257/v2/https://resizing.flixster.com/XdBXG5iWPN9rIbTLBu6ga0f9s2M=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzL2ZjYjcxNzdmLTgxZmEtNDM2Ni1hMzUyLTVjMmU1OTJjMzllYS5qcGc=" alt="Women in Motion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error incidunt sequi iusto. Provident praesentium veniam quae quaerat doloribus, laudantium, nobis placeat repellendus, molestias quidem corporis quisquam cumque eligendi. Atque debitis commodi molestias officiis qui! Pariatur natus maiores iusto quam harum laborum quo, ut, quis perferendis delectus ratione eius vel in. Ex eius fuga, minus nihil sequi qui explicabo perferendis nulla quidem animi, quam eum esse, officia ad asperiores vero eaque sunt nesciunt quibusdam? Laboriosam tenetur error non perspiciatis repellat nihil, voluptatum ipsa perferendis cumque quia placeat ea aut, quidem quos eius ipsum optio totam voluptate quo reiciendis, at officiis dicta?</p>
    </div>
  </article>
</section>

<router-outlet></router-outlet>